<nav class="navbar">
  <div class="nav-container">
    <!-- Logo -->
    <a routerLink="/" class="logo-link">
      <div class="brand-wrapper">
        <img src="assets/logo.webp" alt="Logo" class="logo" />
        <div class="brand-text">
          <div class="brand-name">N’H SERVICES</div>
          <div class="brand-tagline animate-in">Your Vision, Engineered to Life.</div>
        </div>
      </div>
      
    </a>

    <!-- Hamburger icon -->
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Navigation Links -->
    <ul class="nav-links" [class.open]="menuOpen">
      <li><a routerLink="/"  routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/about"  routerLinkActive="active-link">About</a></li>
      <li><a routerLink="/experience"  routerLinkActive="active-link">Experience</a></li>
      <li><a routerLink="/skills"  routerLinkActive="active-link">Skills</a></li>
      <li><a routerLink="/education"  routerLinkActive="active-link">Education</a></li>
      <!--<li><a routerLink="/projects"  routerLinkActive="active-link">Projects</a></li>-->
      <li><a routerLink="/company"  routerLinkActive="active-link">Company</a></li>
      <li><a routerLink="/contact"  routerLinkActive="active-link">Contact</a></li>
    </ul>
  </div>
</nav>
