<section class="experience section" id="experience">
    <div class="container">
      <h2 class="section-title">Expériences Professionnelles</h2>
  
      <!-- Dell - LexisNexis -->
      <div class="experience-item"  data-aos="fade-up">
        <h3>Consultant IT – FREELANCE</h3>
        <p class="company">Dell - LexisNexis, Paris</p>
        <p class="dates"><em>Oct. 2024 – Mars 2025</em></p>
        <ul>
          <li>Développement d’un portail interne pour automatiser les demandes IT via ServiceNow.</li>
          <li>Optimisation UI en React & TypeScript pour une meilleure expérience utilisateur.</li>
          <li>Scripts personnalisés pour automatiser les processus IT et réduire les interventions.</li>
          <li>Migration vers AWS avec des architectures serverless pour plus de scalabilité.</li>
        </ul>
      </div>
  
      <!-- Airbus Atlantic -->
      <div class="experience-item"  data-aos="fade-up">
        <h3>Consultant IT – FREELANCE</h3>
        <p class="company">Airbus Atlantic Composite, Salaunes - Bordeaux</p>
        <p class="dates"><em>Févr. 2024 – Sept. 2024</em></p>
        <ul>
          <li>Développement d'applications full-stack.</li>
          <li>Scripts JS & React pour ServiceNow.</li>
          <li>Automatisation de la gestion des demandes IT.</li>
          <li>Migration d'apps vers AWS, adaptation cloud de solutions Java/React.</li>
        </ul>
      </div>
  
      <!-- Conseil & Développement -->
      <div class="experience-item"  data-aos="fade-up">
        <h3>Développeur / Analyste Full Stack</h3>
        <p class="company">Conseil & Développement, Paris</p>
        <p class="dates"><em>Oct. 2022 – Févr. 2024</em></p>
        <ul>
          <li>Développement & maintenance d’applications web en Java.</li>
          <li>Participation aux phases de spécifications et tests.</li>
          <li>Utilisation de Spring, Hibernate, ReactJS, AngularJS.</li>
          <li>Création de sites avec WordPress et Shopify.</li>
          <li>Optimisation via mise en cache.</li>
          <li>Interfaces fonctionnelles pour plateformes.</li>
          <li>Gestion BDD avec HyperDB.</li>
          <li>Respect strict des cahiers des charges.</li>
        </ul>
      </div>
  
      <!-- Acatium France -->
      <div class="experience-item"  data-aos="fade-up">
        <h3>Développeur / Analyste VueJS - NodeJS</h3>
        <p class="company">Acatium France, Lille</p>
        <p class="dates"><em>Janv. 2022 – Oct. 2022</em></p>
        <ul>
          <li>Développement d’un outil de saisie de CRA avec génération de factures.</li>
          <li>Déploiement de l’outil sur Amazon Cloud.</li>
          <li>Gestion des accès et des connexions à l’URL de la plateforme.</li>
          <li>Respect des exigences du cahier des charges.</li>
        </ul>
      </div>
  
      <!-- SDFM LOGISTICS -->
      <div class="experience-item"  data-aos="fade-up">
        <h3>Développeur JAVA</h3>
        <p class="company">SDFM LOGISTICS, Maroc</p>
        <p class="dates"><em>Sept. 2019 – Oct. 2020</em></p>
        <ul>
          <li>Développement d’applications web et mobiles.</li>
          <li>Système de messagerie & visioconférence temps réel.</li>
          <li>Analyse, conception & élaboration de l’architecture applicative.</li>
          <li>Utilisation de Spring, Hibernate, AngularJS.</li>
          <li>Collaboration en équipe projet Agile.</li>
        </ul>
      </div>
  
      <!-- Delphi APTIV -->
      <div class="experience-item"  data-aos="fade-up">
        <h3>Développeur Logiciel</h3>
        <p class="company">Delphi APTIV, Maroc</p>
        <p class="dates"><em>Avr. 2019 – Sept. 2019</em></p>
        <ul>
          <li>Application RH pour la gestion des ressources humaines.</li>
          <li>Support technique et assistance aux utilisateurs.</li>
          <li>Documentation et suivi de développement.</li>
          <li>Développement en Java.</li>
          <li>Tests unitaires et d'intégration.</li>
        </ul>
      </div>
    </div>
  </section>
  