<section class="about-section">
  <h2 class="about-title">About Me</h2>

<p class="about-text">
  I'm <strong>Badr Nhammoucha</strong> — a passionate <strong>Web Developer</strong>, <strong>Engineer</strong>, and <strong>Entrepreneur</strong> with a love for clean UI and high-performance applications.
  I specialize in <strong>Angular, TypeScript, Node.js</strong>, and <strong>Java</strong>.
  
</p>

<p class="about-text">
  With a Master’s in Web Architecture & Digital Expertise, I thrive on solving real-world problems through elegant, scalable code.
  I enjoy building seamless user experiences, maintainable systems, and turning bold ideas into digital reality.
</p>
  
</section>
