<section class="home-section">
  <img src="assets/img.jpeg" alt="Badr Nhammoucha" class="profile-photo" />

  <h2 class="home-title">Hi, I'm Badr <span class="wave">👋</span></h2>
  <h2 class="hero-tagline animated-tagline">
    Web Developer • Engineer • Creative Coder • Entrepreneur
  </h2>
  

  <p class="home-description">
    I build modern, responsive websites and apps using Angular, TypeScript, and Node.js.<br />
    I love crafting smooth, elegant UIs and solving real-world problems through code.
  </p>

  <a href="assets/badr-cv.pdf" class="btn-primary" download>Download CV</a>
</section>
